/2048/nbproject/private/
/2048/build/
/2048/dist/
/2048_1/nbproject/private/
/2048_1/build/
/2048_1/dist/
/2048_final/nbproject/private/
/2048_final2/nbproject/private/
/2048_jesuisfou/nbproject/private/