/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20 nov. 2019, 16:44:11
    Author     : Sofia
*/



/*
 * Empty Stylesheet file.
 */

.fondconnexion{
    -fx-background-color:black;
}



.boutton{
    -fx-background-color: black;
    -fx-border-color: orange;
    
    -fx-effect: dropshadow( gaussian , orange , 14, 0.2, 0 , 0);
    -fx-border-style: solid inside;
    -fx-border-width: 2.4;
    
    -fx-font-family: "Arial Nova";
    -fx-effect: dropshadow(three-pass-box, orange, 12, 0.4, 0, 0);
    -fx-font-size: 14px;
    -fx-border-color:     orange;
    -fx-border-width:  2 ;
    -fx-background-color: transparent;
    -fx-text-fill: orange;
    -fx-font-weight: bold;


}

.boutton:hover{
    -fx-background-color: black;
    -fx-border-color: white;

    -fx-border-radius: 1.5;
    -fx-background-insets: 0,1,2,0;

    -fx-effect: dropshadow( gaussian , white , 14, 0.2, 0 , 0);


    -fx-border-style: solid inside;
    -fx-border-width: 2.4;

    -fx-font-family: "Arial Nova";
    -fx-effect: dropshadow(three-pass-box, orange, 14, 0.2, 0, 0);
    -fx-font-size: 14px;
    -fx-border-color:     white;
    -fx-border-width:  2 ;
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-weight: bold;

}

.annuler{
    -fx-alignement:left; 
}

.champPseudo{
    -fx-font-family: "Arial Nova";
    -fx-effect: dropshadow(three-pass-box, white, 14, 0.1, 0, 0);
    -fx-font-size: 18px;
    -fx-border-color:     darkgoldenrod;
    -fx-border-width: 0 0 2 0;
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.champPseudo:focused{
    -fx-font-family: "Arial Nova";
    -fx-effect: dropshadow(three-pass-box, orange, 14, 0.4, 0, 0);
    -fx-font-size: 18px;
    -fx-border-color:     white;
    -fx-border-width: 0 0 2 0;
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.pseudo{
    -fx-effect: dropshadow(three-pass-box, orange, 14, 0.2, 0, 0);
    -fx-text-fill: orange;
    -fx-font-size: 20px;
    -fx-font-weight: 800;
}

.champMdp{
    -fx-font-family: "Arial Nova";
    -fx-effect: dropshadow(gaussian, white, 14, 0.1, 0, 0);
    -fx-font-size: 18px;
    -fx-border-color: darkgoldenrod;
    -fx-border-width: 0 0 2 0;
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.champMdp:focused{
    -fx-font-family: "Arial Nova";
    -fx-effect: dropshadow(gaussian, orange, 14, 0.4, 0, 0);
    -fx-font-size: 18px;
    -fx-border-color:     white;
    -fx-border-width: 0 0 2 0;
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.mdp{
    -fx-text-align: center;
    -fx-font-weight: 800;
    -fx-effect: dropshadow(gaussian, orange, 14, 0.2, 0, 0);
    -fx-text-fill: orange;
    -fx-font-size: 20px;
}

.titre{
    -fx-padding: 10 20 10 20;
    -fx-text-align: center;
    -fx-font-size: 100px;
    -fx-effect: dropshadow( gaussian, orange, 14, 0.2, 0, 0);
    -fx-text-fill: orange;
    -fx-font-weight: 600;
}

.titre:hover{
    -fx-padding: 10 20 10 20;
    -fx-text-align: center;
    -fx-font-size: 100px;
    -fx-effect: dropshadow( gaussian, orange, 14, 0.2, 0, 0);
    -fx-text-fill: white;
    -fx-font-weight: 600;
}