
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20 nov. 2019, 16:41:04
    Author     : Sofia
*/



/*
.pane {
    -fx-background-color: pink;
    -fx-border-color: black;
}


.pane4 {
    -fx-background-color: #F4AE9F;
    -fx-border-color: black;
}
.gridpane {
    -fx-border-color: black;
    -fx-grid-lines-visible: true;
    -fx-border: 2px solid;
    -fx-halignment: center;
    -fx-alignment: CENTER;  
}

*/


.tuile {
    -fx-font-family: "Arial Nova";
    -fx-text-alignment: center;
    -fx-alignment: center; 
    -fx-padding: 38 53 38 53;  /*top right bottom left*/
     
}

.tuile10 {
    -fx-font-family: "Arial Nova";
    -fx-text-alignment: center;
    -fx-alignment: center; 
    -fx-font-size: 50;
    -fx-padding: 38 41 38 41;  /*top right bottom left*/
}

.tuile100 {
    -fx-font-family: "Arial Nova";
    -fx-text-alignment: center;
    -fx-alignment: center; 
    
    -fx-font-size: 50;
    -fx-padding: 38 25 38 25;  /*top right bottom left*/
}

.tuile1000 {
    -fx-font-family: "Arial Nova";
    -fx-text-alignment: center;
    -fx-alignment: center;  
    
    -fx-padding: 38 5 38 5;  /*top right bottom left*/
}

.pane2 .label{
    -fx-text-alignment: center;
     -fx-font-size: 50px;
     -fx-text-fill: #8CF6D9;
     -fx-font-weight:600px;
     -fx-effect: dropshadow( gaussian , white , 12, 0.3 , 0 , 0);
}

.pane4 .label {
    -fx-text-alignment: center;
     -fx-font-size: 50px;
     -fx-text-fill: #8CCCF6;
     -fx-font-weight:600px;
     -fx-effect: dropshadow( gaussian , white , 12, 0.3 , 0 , 0);
}

.pane8 .label {
   -fx-text-alignment: center;
     -fx-font-size: 50px;
     -fx-text-fill: #8F8CF6;
     -fx-font-weight:600px;
     -fx-effect: dropshadow( gaussian , white , 12, 0.3 , 0 , 0);
}

.pane16 .label{
   -fx-text-alignment: center;
     -fx-font-size: 50px;
     -fx-text-fill: #D18CF6;
     -fx-font-weight:600px;
     -fx-effect: dropshadow( gaussian , white , 12, 0.3 , 0 , 0);

}

.pane32 .label {
   -fx-text-alignment: center;
     -fx-font-size: 50px;
     -fx-text-fill: #F68CD4;
     -fx-font-weight:600px;
     -fx-effect: dropshadow( gaussian , white , 12, 0.3 , 0 , 0);
}

.pane64 .label {
   -fx-text-alignment: center;
     -fx-font-size: 50px;
     -fx-text-fill: #FC848F;
     -fx-font-weight:600px;
     -fx-effect: dropshadow( gaussian , white , 12, 0.3 , 0 , 0);
}

.pane128 .label {
    -fx-text-alignment: center;
     -fx-font-size: 50px;
     -fx-text-fill: #FF906C;
     -fx-font-weight:600px;
     -fx-effect: dropshadow( gaussian , white , 12, 0.3 , 0 , 0);
}

.pane256 .label {
    -fx-text-alignment: center;
     -fx-font-size: 50px;
     -fx-text-fill: FEB160;
     -fx-font-weight:600px;
     -fx-effect: dropshadow( gaussian , white , 12, 0.3 , 0 , 0);
}

.pane512 .label{
    -fx-text-alignment: center;
     -fx-font-size: 50px;
     -fx-text-fill: purple;
     -fx-font-weight:600px;
     -fx-effect: dropshadow( gaussian , purple , 12, 0.3 , 0 , 0);
     
}

.pane1024 .label{
    -fx-text-alignment: center;
     -fx-font-size: 50px;
     -fx-text-fill: gold;
     -fx-font-weight:600px;
     -fx-effect: dropshadow( gaussian , gold , 12, 0.3 , 0 , 0);
       
}

.pane2048 .label{
    -fx-text-alignment: center;
     -fx-font-size: 50px;
     -fx-text-fill: silver;
     -fx-font-weight:600px;
     -fx-effect: dropshadow( gaussian , silver , 12, 0.3 , 0 , 0);
}



.fond{
    -fx-background-color:       #f3f380;
}




.grille{
    -fx-border-color: white;
    -fx-border-width: 10px;
    -fx-effect: dropshadow( three-pass-box , white , 105, 0.5 , 0 , 0);
    -fx-border-style: solid inside;
     
     -fx-border-radius: 2;
   
}

.grille.column{
    
}

grid-cell{
    -fx-effect: dropshadow( gaussian , white , 45, 0 , 0 , 0);
    

}



.titre{
   -fx-padding: 10 20 10 20;
    -fx-text-align: center;
    -fx-font-size: 70px;
    -fx-effect: dropshadow( gaussian, white, 14, 0.2, 0, 0);
    -fx-text-fill:  white;
    -fx-font-weight: 600;
}



.mouvement{
    -fx-effect: dropshadow(gaussian, white, 20, 0.2, 0, 0);
    -fx-text-fill: white;
    -fx-font-size: 30px;
    -fx-font-weight: 800;
}


/* .start{
    -fx-background-color: 
        #ff8800,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , orange , 14, 0.1 , 0 , 0 );
    -fx-font-family: "Arial Nova";
   
    -fx-border-width:5px;
    -fx-text-fill: linear-gradient(whitesmoke, #d0d0d0);
    -fx-font-weight: bold;

    -fx-padding: 10 20 10 20;
    
}

.start Text {
    -fx-effect: dropshadow( one-pass-box , orange , 1, 0.0 , 0 , 1 );
}


.start:hover{-fx-background-color:   whitesmoke;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , white , 14, 0.5 , 0 , 0 );
    
    
}
*/

.menu-bar{
  -fx-background-color:  #005B84;

    
 -fx-effect: dropshadow( gaussian , #005B84 , 25, 0.5 , 0 , 0 );
     

}

.menu{
    -fx-background-color:  #005B84;
    
}

.menu-item{
    -fx-background-color:  #005B84;
    -fx-border-color:   #005B84;
     -fx-border-width: 3;
     -fx-border-radius: 1;
     

 
 
}

.menu-item .label{
    -fx-effect: dropshadow( gaussian , white, 8, 0.1 , 0 , 0 );
    -fx-text-fill: #005B84;

}


.menu-item:hover{
    -fx-background-color:  silver;
    -fx-border-color:  silver;
    
}

.menu-bar .label{ 
    -fx-text-fill: #f3f398;
    -fx-effect: dropshadow( gaussian , #f3f398 , 13, 0.6, 0 , 0 );
    -fx-border-width: 0;
        -fx-font-weight: bold;

     
}

.menu:hover{
    -fx-background-color: silver;
     
}

.menu.showing{
    -fx-background-color: silver;
}






/* .bouttonDirection{
    -fx-background-color: 
        black;
    -fx-border-color: orange;
        
    -fx-border-radius: 1.5;
    -fx-background-insets: 0,1,2,0;

    -fx-effect: dropshadow( gaussian , orange , 14, 0.2, 0 , 0);
    
   
   -fx-border-style: solid inside;
      -fx-border-width: 2.4;
    
    -fx-text-fill: orange;
    -fx-font-size: 15px;
    -fx-text-weight: 100px;
    
} */

.boutton{  
    -fx-effect: dropshadow( gaussian , red , 14, 0.2, 0 , 0);
    
   
   -fx-border-style: solid inside;
      -fx-border-width: 2.4;
    
    -fx-font-family: "Arial Nova";
  -fx-effect: dropshadow(three-pass-box, white, 18, 0.2, 0, 0);
  -fx-font-size: 14px;
  -fx-border-color:     white;
  -fx-border-width:  2 ;
  -fx-background-color: transparent;
  -fx-text-fill: white;
  -fx-font-weight: bold;
    
}

.boutton:hover{
    
    
        
    -fx-border-radius: 1.5;
    -fx-background-insets: 0,1,2,0;

    -fx-effect: dropshadow( gaussian , white , 14, 0.2, 0 , 0);
    
   
   -fx-border-style: solid inside;
      -fx-border-width: 2.4;
    
    -fx-font-family: "Arial Nova";
  -fx-effect: dropshadow(three-pass-box, white, 14, 0.2, 0, 0);
  -fx-font-size: 14px;
  -fx-border-color:     #005B84;
  -fx-border-width:  2 ;
  -fx-background-color: transparent;
  -fx-text-fill: #005B84;
  -fx-font-weight: bold;
    
}

.victory {
    background-color: rgba(0, 0, 10, .5);
}


    
    
   





.styleResultat {
    -fx-text-alignment: center;
    -fx-label-line-length: 150%;
    -fx-text-fill: #505050;
    -fx-font-size: 45;
}