
.pane {
    -fx-background-color: #99FF33;
    -fx-border-color: black;
}


.pane4 {
    -fx-background-color: #99FF33;
    -fx-border-color: black;
}
.gridpane {
    -fx-border-color: black;
    -fx-grid-lines-visible: true;
    -fx-border: 2px solid;
    -fx-halignment: center;
    -fx-alignment: CENTER;  
}

.tuile2 {
    -fx-text-alignment: center;
    -fx-halignment: center; 
    -fx-text-fill: #8B0000;
    /*-fx-font: "Cambria";*/
    /*-fx-font-style:bold;*/
    -fx-font-size: 38;
    -fx-padding: 38 55 38 55;  /*58 74 h b d g*/
}
