
/* css du jeu en mode nuit */

.tuile { /* concerne les tuiles qui contiennent un seul chiffre */
    -fx-font-family: "Arial Nova";
    -fx-text-alignment: center;
    -fx-halignment: center; 
    -fx-padding: 38 55 38 55;  /*top right bottom left*/

}

.tuile10 {  /* concerne les tuiles qui contiennent deux chiffres */
    -fx-font-family: "Arial Nova";
    -fx-text-alignment: center;
    -fx-halignment: center; 
    -fx-font-size: 50;
    -fx-padding: 38 41 38 41;  /*top right bottom left*/
}

.tuile100 {  /* concerne les tuiles qui contiennent trois chiffres */
    -fx-font-family: "Arial Nova";
    -fx-text-alignment: center;
    -fx-halignment: center; 
    -fx-font-size: 50;
    -fx-padding: 38 25 38 25;  /*top right bottom left*/
}

.tuile1000 {  /* concerne les tuiles qui contiennent quatre chiffre */
    -fx-font-family: "Arial Nova";
    -fx-text-alignment: center;
    -fx-halignment: center;  
    -fx-padding: 38 10 38 10;  /*top right bottom left*/
}

.pane2 .label{
    -fx-text-alignment: center;
    -fx-font-size: 50px;
    -fx-text-fill:    #FF9933;
    font-weight:600;
    -fx-effect: dropshadow( gaussian , #FF9933 , 12, 0.3 , 0 , 0);
}

.pane4 .label {
    -fx-text-alignment: center;
    -fx-font-size: 50px;
    -fx-text-fill:   #33ffff;
    font-weight:600;
    -fx-effect: dropshadow( gaussian , #33ffff , 12, 0.3 , 0 , 0);
}

.pane8 .label {
    -fx-text-alignment: center;
    -fx-font-size: 50px;
    -fx-text-fill:    #66FF66;
    font-weight:600;
    -fx-effect: dropshadow( gaussian , #66FF66 , 12, 0.3 , 0 , 0);
}

.pane16 .label{
    -fx-text-alignment: center;
    -fx-font-size: 50px;
    -fx-text-fill: #ccFF00;
    font-weight:600;
    -fx-effect: dropshadow( gaussian , #ccFF00 , 12, 0.3 , 0 , 0);
}

.pane32 .label {
    -fx-text-alignment: center;
    -fx-font-size: 50px;
    -fx-text-fill: pink;
    font-weight:600;
    -fx-effect: dropshadow( gaussian , pink , 12, 0.3 , 0 , 0);
}

.pane64 .label {
    -fx-text-alignment: center;
    -fx-font-size: 50px;
    -fx-text-fill:  #D18CF6;
    font-weight:600;
    -fx-effect: dropshadow( gaussian , #D18CF6 , 12, 0.3 , 0 , 0);
}

.pane128 .label {
    -fx-text-alignment: center;
    -fx-font-size: 50px;
    -fx-text-fill: #FF355E;
    font-weight:600;
    -fx-effect: dropshadow( gaussian , #FF355E , 12, 0.3 , 0 , 0);
}

.pane256 .label {
    -fx-text-alignment: center;
    -fx-font-size: 50px;
    -fx-text-fill: #FF00CC;
    font-weight:600;
    -fx-effect: dropshadow( gaussian , #FF00CC , 12, 0.3 , 0 , 0);
}

.pane512 .label{
    -fx-text-alignment: center;
    -fx-font-size: 50px;
    -fx-text-fill: purple;
    font-weight:600;
    -fx-effect: dropshadow( gaussian , purple , 12, 0.3 , 0 , 0);
}

.pane1024 .label{
    -fx-text-alignment: center;
    -fx-font-size: 50px;
    -fx-text-fill: gold;
    font-weight:600;
    -fx-effect: dropshadow( gaussian , gold , 12, 0.3 , 0 , 0);
}

.pane2048 .label{
    -fx-text-alignment: center;
    -fx-font-size: 50px;
    -fx-text-fill: #FFCC33;
    font-weight:600;
    -fx-effect: dropshadow( gaussian , #FFCC33 , 12, 0.3 , 0 , 0);
}

.fond{ /* couleur du fond */
    -fx-background-color: black;
}

.grille{ /* style des grilles */
    -fx-border-color: orange;
    -fx-border-width: 5px;
    -fx-effect: dropshadow( three-pass-box , orange , 105, 0.2 , 0 , 0);
    -fx-border-style: solid inside;
    -fx-border-radius: 2;

}

.grille Line { /* style pour le colonnes/lignes de la grille */
    -fx-stroke: orange;
    -fx-effect: dropshadow( gaussian , orange , 0, 0 , 0 , 0);
}

grid-cell{
    -fx-effect: dropshadow( gaussian , white , 0, 0 , 0 , 0);
}

.titre{ /* style du titre "2048" */
    -fx-padding: 10 20 10 20;
    -fx-text-align: center;
    -fx-font-size: 70px;
    -fx-effect: dropshadow( gaussian, orange, 14, 0.2, 0, 0);
    -fx-text-fill: orange;
    font-weight: 600;
}

.mouvement{ /* style du compteur de mouvement */
    -fx-effect: dropshadow(gaussian, orange, 14, 0.5, 0, 0);
    -fx-text-fill: orange;
    -fx-font-size: 30px;
    font-weight: 600;
}
.nbmouvement{
    -fx-effect: dropshadow(gaussian, white, 14, 0.5, 0, 0);
    -fx-text-fill: white;
    -fx-font-size: 30px;
    font-weight: 600;
}

.menu-bar{ /* style du menu déroulant */
    -fx-background-color: black;
    -fx-border-color:  white;
    -fx-effect: dropshadow( gaussian , white , 25, 0.5 , 0 , 0 );
}

.menu-item{  /* style des items dans le menu déroulant*/
    -fx-background-color: black;
    -fx-border-color:  black;
    -fx-border-width: 3;
}

.menu-item .label{ /* style du texte des items */
    -fx-effect: dropshadow( gaussian , white , 13, 0.6 , 0 , 0 );
}

.menu-item:hover{ /* style des item qd on passe le curseur dessus */
    -fx-background-color: grey;
    -fx-border-color:  grey;
}

.menu-bar .label{ /* label dans la bar de menu*/
    -fx-text-fill: white;
    -fx-effect: dropshadow( gaussian , white , 13, 0.6 , 0 , 0 );
}

.menu:hover{ /* lorsqu'on passe le curseur sur le menu */
    -fx-background-color: grey;
}

.menu.showing{
    -fx-background-color: grey;
}

.boutton{ /* concerne tous les bouttons */
    -fx-background-color: black;
    -fx-border-color: orange;
    -fx-effect: dropshadow( gaussian , orange , 14, 0.2, 0 , 0);
    -fx-border-style: solid inside;
    -fx-border-width: 2.4;
    -fx-font-family: "Arial Nova";
    -fx-effect: dropshadow(three-pass-box, orange, 12, 0.4, 0, 0);
    -fx-font-size: 14px;
    -fx-border-color:     orange;
    -fx-border-width:  2 ;
    -fx-background-color: transparent;
    -fx-text-fill: orange;
    font-weight: bold;
}

.boutton:hover{ /* bouttons qd on passe la souris dessus*/
    -fx-background-color: black;
    -fx-border-color: white;
    -fx-border-radius: 1.5;
    -fx-background-insets: 0,1,2,0;
    -fx-effect: dropshadow( gaussian , white , 14, 0.2, 0 , 0);
    -fx-border-style: solid inside;
    -fx-border-width: 2.4;
    -fx-font-family: "Arial Nova";
    -fx-effect: dropshadow(three-pass-box, white, 14, 0.2, 0, 0);
    -fx-font-size: 14px;
    -fx-border-color:     white;
    -fx-border-width:  2 ;
    -fx-background-color: transparent;
    -fx-text-fill: white;
    font-weight: bold;
}
.victory {
    background-color: rgba(0, 0, 10, .5);
}
